# OS X
.DS_Store*
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode

# Linux
.directory
*~


# npm
node_modules
etc
package-lock.json
yarn.lock
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
