<html>
    <head>
        <title>Dicom Image Viewer</title>
        <link href="icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/tabulator.min.css">
        
        <script type="text/javascript" src="js/bundle.js"></script>
        <script type="text/javascript" src="js/requires.js"></script>
        <script type="text/javascript" src="js/studies.js"></script>
    </head>
    <body>
        <input type="file" id="file" accept=".dcm" style="display: none;" multiple>
        <div id="app" class="content"></div>
    </body>
</html>