<html>
    <head>
        <title>Dicom Image Viewer</title>
        <link href="icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/tabulator.min.css">

        <script type="text/javascript" src="js/bundle.js"></script>
        <script type="text/javascript" src="js/requires.js"></script>
        <script type="text/javascript" src="js/viewer.js"></script>
    </head>
    <body>
        <div class="app">
            <div id="tools" class="tools"></div>
            <div id="images" class="wraper-element" oncontextmenu="return false" onmousedown="return false"></div>
            <input type="file" id="file" accept=".dcm" style="display: none;"/>
            <div id="modal" class="modal"><div class="modal-content"><span class="close">&times;</span><p id="modal-content"></p></div></div>
        </div>
    </body>
</html>
